@import '_variables'
h1
  font-family: "Cooper Hewitt"
  font-size: 280px
  margin-top: 90px
  text-align: center
  font-weight: 700
  color: $title
  @media screen and (max-width: 1024px)
    font-size: 180px
    margin-top: 40px
  @media screen and (max-width: 768px)
    font-size: 100px
    margin-top: 20px
#hero
  display: flex
  flex-direction: column
  justify-content: space-between
  .center
    display: flex
    flex-direction: column
    align-items: center
    .underlined-span
      margin-bottom: 30px
      display: flex
      flex-direction: column
      align-items: flex-start
      position: relative
      span
        text-align: center
      .underline
        transition: 0.2s ease
        align-self: flex-start
        width: 0
        display: block
        position: absolute
        left: 0
        bottom: -2px
        height: 1px
        background-color: $title
        margin: 0 auto
#title
  clip-path: polygon(0 0, 100% -250%, 100% 100%, 0% 100%)
.char 
  transform: translateY(300px)
  transition: transform 0.5s
 